<app-header></app-header>
<div class="address-page-container">
    <form class="address-form">
        <div class="form-field">
            <label for="name">Full Name</label>
            <input type="text" id="name" placeholder="Enter full name" #name>
        </div>
        <div class="form-field">
            <label for="address">Address</label>
            <input type="text" id="address" placeholder="Enter full address" #fullAddress>
        </div>
        <div class="line">
            <div class="form-field">
                <label for="pincode">Pincode</label>
                <input type="number" id="pincode" placeholder="Enter pincode" #pincode>
            </div>
            <div class="form-field">
                <label for="city">City</label>
                <input type="text" id="city" placeholder="Enter city name" #city>
            </div>
            <div class="form-field">
                <label for="state">State</label>
                <input type="text" id="state" placeholder="Enter state name" #state>
            </div>
        </div>
    </form>
    <app-total-amount-section [btnLabel]="'Complete Order'" [btnDisabled]="dataService.totalPrice ? false: true" 
        (emitNavigate)="navigateToNextPage(name.value, fullAddress.value, pincode.value, city.value, state.value)">
    </app-total-amount-section>
</div>