<app-header></app-header>
<div class="address-page-container">
    <form class="address-form">
        <div class="line">
            <div class="form-field">
                <label for="first-name">First Name</label>
                <input type="text" id="first-name" placeholder="Enter first name" #firstName>
            </div>
            <div class="form-field">
                <label for="last-name">Last Name</label>
                <input type="text" id="last-name" placeholder="Enter last name" #lastName>
            </div>
            <div class="form-field">
                <label for="email-id">Email ID</label>
                <input type="email" id="email-id" placeholder="Enter email id" #emailId>
            </div>
        </div>
        <div class="form-field">
            <label for="address">Address</label>
            <input type="text" id="address" placeholder="Enter full address" #fullAddress>
        </div>
        <div class="line">
            <div class="form-field">
                <label for="pincode">Pincode</label>
                <input type="number" id="pincode" placeholder="Enter pincode" #pincode>
            </div>
            <div class="form-field">
                <label for="city">City</label>
                <input type="text" id="city" placeholder="Enter city name" #city>
            </div>
        </div>
        <div class="line">
            <div class="form-field">
                <label for="state">State</label>
                <input type="text" id="state" placeholder="Enter state name" #state>
            </div>
            <div class="form-field">
                <label for="country">Country</label>
                <input type="text" id="country" placeholder="Enter country name" #country>
            </div>
        </div>
    </form>
    <app-total-amount-section [btnLabel]="'Copmlete Order'" [btnDisabled]="dataService.totalPrice ? false: true" 
        (emitNavigate)="navigateToNextPage(firstName.value, lastName.value, emailId.value, fullAddress.value, pincode.value, city.value, state.value, country.value)">
    </app-total-amount-section>
</div>