/* color: 119c4c */

.top-bar{
    display: flex;
    justify-content: space-between;
    background-color: palegreen;
    padding: 0.5rem;
}

.main-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: bisque;
    margin-top: 2rem;
}

.main-section .demo-image{
    background-color: aquamarine;
    width: 400px;
    height: 500px;
}

.main-section .text-section{
    padding-left: 1rem;
}



.how-it-works h1{
    text-align: center;
}

.how-it-works ol{
    display: flex;
    justify-content: space-between;  
    padding: 0 3rem;
    margin-top: 1.5rem;
}

.how-it-works ol li{
    margin: 0 1rem;
}