<app-header></app-header>
<article class="orders-list-container">
    <h2>My Orders</h2>
    @for(order of ordersList; track order._id){
        <!-- @if (order.status === 'Ordered') {
            <button class="cancel-order-button" (click)="cancelOrder(order._id)"><strong>X</strong></button>
        } -->
        <div class="order-details">
            <div>
                <p><strong>Order Date</strong></p>
                <p>{{order.createdAt | date: 'dd MMM, yyyy'}}</p>
            </div>
            <div>
                <p><strong>Status</strong></p>
                <p>{{order.status}}</p>
            </div>
            <div>
                <p><strong>Pickup Date</strong></p>
                <p>{{order.selectedDate | date: 'dd MMM, yyyy'}}</p>
            </div>
            <div>
                <p><strong>Delivery Date</strong></p>
                <p>{{order.deliveryDate | date: 'dd MMM, yyyy'}}</p>
            </div>
            <div>
                <p><strong>Total Item</strong></p>
                <p>{{order.totalItems}}</p>
            </div>
            <div>
                <p><strong>Total Amount</strong></p>
                <p>{{order.totalAmount}}</p>
            </div>
            <div>
                @if (order.status === 'Ordered') {
                    <button class="cancel-order-button" (click)="cancelOrder(order._id)" class="primary-button">Cancel Order</button>
                }
            </div>
        </div>
    }

    <button class="primary-button order-again-button" (click)="goToSelection()">Order Again</button>
</article>