<div id="login-page">
    <h2>Login</h2>
    <div class="field">
        <label for="phone">Phone</label>
        <br>
        <input id="phone" type="number" placeholder="Phone" #phone>
        <br>
    </div>
    <div class="field">
        <label for="password">Password</label>
        <br>
        <input id="password" type="password" placeholder="Password" #password>
        <br>
    </div>
    <button class="primary-button" (click)="goToSelection(phone.value, password.value)">Login</button>
    <a [routerLink]="['/signup']">Coming for the first time? Go to Signup</a>
</div>