<div id="login-page">
    <h2>Login</h2>
    <div class="field" id="phone-field">
        <label for="phone-number">Mobile Number</label>
        <br>
        <input id="phone-number" type="number" placeholder="Phone Number">
        <br>
        <button class="primary-button">Get OTP / Resend OTP</button>
    </div>
    <div class="field" id="otp-field">
        <label for="otp">Enter 4-digit OTP</label>
        <br>
        <input id="otp" type="number" placeholder="OTP">
        <br>
        <button class="primary-button">Login</button>
    </div>
</div>