<app-header></app-header>
<div class="schedule-page-container">
    <div class="schedule-form">
        <h1>Select Date</h1>
        <div class="dates">
            @for(date of datesToShow; track date.date){
                <div class="date" (click)="selectDate(date.date)" [ngClass]="{'selected-date':date.date===(dataService.selectedDate)}">
                    <p>{{date.date | date: 'dd MMM, yyyy'}}</p>
                    <p>{{date.day}}</p>
                </div>
            }
        </div>
        <h1>Pickup Time Slot</h1>
        <div class="time-slots">
            @for(timeSlot of timeSlots; track timeSlot){
                <p class="time-slot" (click)="selectTimeSlot(timeSlot)" [ngClass]="{'selected-time-slot':timeSlot===dataService.selectedTimeSlot}">{{timeSlot}}</p>
            }
        </div>
    </div>
    <app-total-amount-section [btnLabel]="'Continue'" [btnDisabled]="dataService.totalPrice ? false: true" (emitNavigate)="navigateToNextPage()"></app-total-amount-section>
</div>