#signup-page{
    width: 50%;
    background-color: #f8f8f8;
    margin: 5rem auto;
    padding: 2rem;
}

#signup-page h2{
    text-align: center;
}

#signup-page .field label,input{
    margin: 1rem;
}

#signup-page .field input{
    height: 2rem;
    padding-left: 1rem;
}

#signup-page button{
    margin: 0 0 0 1rem;
}

#signup-page a{
    margin-left: 1rem;
    display: block;
    margin-top: 1rem;
}

@media screen and (max-width: 550px){
    #signup-page{
        width: 90%;
    }
}