<div id="login-page">
    <h2>Login</h2>
    <div class="field">
        <label for="phone">Phone</label>
        <br>
        <input id="phone" type="number" placeholder="Phone" #phone  [disabled]="isPhoneNumberChecked">
        <button class="primary-button" (click)="verifyPhoneNumber(+phone.value)" [disabled]="isPhoneNumberChecked">Check</button>
        <br>
    </div>
    <div class="field">
        <label for="password">New Password</label>
        <br>
        <input id="password" type="password" placeholder="Password" #password [disabled]="!isPhoneNumberChecked">
        <br>
    </div>
    <button class="primary-button" [disabled]="!isPhoneNumberChecked">Set New Password</button>
    <!-- <button class="primary-button" (click)="goToSelection(phone.value, password.value)">Forgot Password</button> -->
    <a [routerLink]="['/login']">Go back to Login</a>
</div>