/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    font-family: "Comic Sans MS", "Comic Sans", "Roboto", sans-serif;
    color: #333333;
    box-sizing: border-box;
}

p,div,span{
    font-size: large;
}

:root{
    --base-color: rgb(17, 156, 76);
    --disabled-button-color: rgb(17, 156, 76, 0.4);
}

.primary-button{
    background-color: var(--base-color);
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: large;
    cursor: pointer;
}

.primary-button:disabled{
    background-color: var(--disabled-button-color);
}